#Visual Studio files
*.[Oo]bj
*.csproj.user
*.DotSettings.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.example
*.disabled
ipch/
obj/
[Bb]in
[Bb]in_x64
[Dd]ebug*/
[Rr]elease*/
aspnet_client

/packages/
