<style>
/*.row{
  margin-top: 30px;
  margin-bottom: 30px
}*/
</style>
<!-- http://ios-checkboxes.awardwinningfjords.com/ -->

<div class="jumbotron">
    Whos is in who is out
</div>


<div class="container" ng-controller="officeController" ng-cloak>
    <div class="row hand" ng-repeat="employee in office">
        <div class="col-md-1" ng-click="toggleStatus(employee)">
            <img ng-src="{{employee.imageUrl}}" style="width: 50px; height: 50px;"/>
        </div>
        <div class="col-md-7" ng-click="toggleStatus(employee)">
            {{employee.name}}
        </div> 
        <div class="col-md-4">
            <switch name="InOutOffice" ng-model="employee.inOffice" on="In Office" off="Out Of Office" class="wide green"></switch>
        </div>
    </div>
</div>
